/* Contact Page Styles */

/* Marc contact */
#marcInfo {
    display: flex;
    flex-direction: row wrap;
    border:2x solid rgb(186, 184, 184);
    padding: 0;
    margin-top: 4rem;
    border-radius: 3px;
    box-shadow: 0px 1px 10px -5px #000000;
  }

#marcInfo:hover {
    border:2x solid rgb(186, 184, 184);
    box-shadow: 8px 16px 21px -4px rgb(122, 121, 122);
}
  
#photo {
    flex: 0 0 auto;
    padding: 0; 
    max-width: 100%;
    margin: 0;

  }

figure {
    margin: 0rem;
}  

#marcImg {
    height: 400px;
    width: auto;
    margin: 0;
    padding: 0;
    border-radius: 3px 0 0 3px;
}  
  
#text {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }


#emailBox {
    display: flex;
    align-items: center;
    margin-top: -1rem;
    margin-bottom: 0rem;
    padding: 0;
}

#emailIcon {
    height: 20px;
    width: auto;
    margin-right: .5rem;
}

#marcEmail {
    font-size: 1.1rem;
    padding-top: 1.5rem;
}

#marcLastPara {
    margin-top: 1rem;
}

/* emails */
a {
    color: #4f98e6;
    text-decoration: none;
}

a:hover {
    color: #1d68a7;
    text-decoration: underline;
    cursor: pointer;
}

#emailContacts {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

div.contactBox {
    margin-top: 1.5rem;
    display: flex; 
    flex-direction: column;
}

div.iconTitle {
    display: flex;
    margin-bottom: -1rem;
}

img.emailIcons {
    height: 22px;
    width: auto;
    margin-right: .8rem;
}

/* civic address */
#addressInfo {
    margin-bottom: 3rem;
}

#civicAddress {
    margin-top: .5rem;
    display: flex;
    align-items: center;
} 

#mapIcon {
    height: 25px;
    width: auto;
    margin-right: .8rem;
}

#civicAdd {
    font-size: 1.1rem;
    padding-top: 1rem;
}

/* map */
#map {
    margin-bottom: 6rem;
}



/* media query */
@media only screen and (max-width: 800px) {
  #marcInfo {
    flex-direction: column; 
  }

  #text {
    padding: 1rem; 
  }

  #marcImg {
    height: auto; 
    width: 100%; 
  }
}
