/* Industry Page */

/* titles */
#advantageTitle {
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

#programListTitle {
    margin-top: 7rem;
}


/* lists */
#programList {
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1.1rem;
    margin-bottom: 5rem;
}

#programList li {
    margin-bottom: 1.5rem;
}


/* FAQ */
#FAQ {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

#FAQ .questions {
    margin-bottom: 3rem;
}

#FAQ p {
    font-size: 1.2rem;
}

#finalP {
    margin-bottom: 6rem;
}

#finalP a {
    color: #4f98e6;
}

#finalP a:hover {
    color: #1d68a7;
    text-decoration: underline;
    cursor: pointer;
}

